In [10]:
import pandas as pd
from sklearn import preprocessing

In [8]:
data_files = ['genderclassmodel.csv','gendermodel.csv',
'test.csv',
'train.csv']
for f in data_files:
    df = pd.read_csv(''.join(['data/',f]))
    print f
    print '--------------------------------'
    print df.head(2)
    print '--------------------------------'

genderclassmodel.csv
--------------------------------
   PassengerId  Survived
0          892         0
1          893         1
--------------------------------
gendermodel.csv
--------------------------------
   PassengerId  Survived
0          892         0
1          893         1
--------------------------------
test.csv
--------------------------------
   PassengerId  Pclass                              Name     Sex   Age  SibSp  \
0          892       3                  Kelly, Mr. James    male  34.5      0
1          893       3  Wilkes, Mrs. James (Ellen Needs)  female  47.0      1

   Parch  Ticket    Fare Cabin Embarked
0      0  330911  7.8292   NaN        Q
1      0  363272  7.0000   NaN        S
--------------------------------
train.csv
--------------------------------
   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1

   Parch     Ticket     Fare Cabin Embarked
0      0  A/5 21171   7.2500   NaN        S
1      0   PC 17599  71.2833   C85        C
--------------------------------

In [30]:
df_train = pd.read_csv('data/train.csv')
df_train.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,NaN,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,NaN,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,NaN,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [31]:
le = preprocessing.LabelEncoder()
le.fit(["paris", "paris", "tokyo", "amsterdam"])

list(le.classes_)

le.transform(["tokyo", "tokyo", "paris"]) 

list(le.inverse_transform([2, 2, 1]))

['tokyo', 'tokyo', 'paris']